[Desktop Entry]
Type=Application
Terminal=true
Name=Gracieux
Icon=/home/dbehnke/.config/plank/dock1/theme_index/theme-icons/plank_theme.svg
Exec=/home/dbehnke/.config/plank/dock1/theme_index/Gracieux.sh
