[Desktop Entry]
Type=Application
Terminal=true
Name=Numix
Icon=/home/dbehnke/.config/plank/dock1/theme_index/theme-icons/plank_theme.svg
Exec=/home/dbehnke/.config/plank/dock1/theme_index/Numix.sh
